@layer card, form, thumbnail, accordion, detailed-list, call-to-action, subgrid;


@layer card { 
  .card { 
    display: grid; 
    grid-template-rows: auto 1fr auto;
    border-radius: var(--_u-3);

    .header {
      background-color: inherit;
      position: relative;
      padding: 3rem 1.5rem;
      font-size: 150%;
      padding-bottom: 1.5rem;

      .p {
        font-size: 60%;
      }

      .figure {
        background-color: inherit;
        position: absolute;
        right: 10%;
        bottom: 0;
        translate: 50% 50%;
        padding: 0.75rem;
        border-radius: 100vw; 
        border: 0.2rem;
        border-color: solid white; 
      }
    }

    .content {
      padding-top: 3rem;
      padding-bottom: 0.75rem;
    
      .p {
        font-size: 110%; 
        padding-bottom: 1rem;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;  
        line-height: 1.5; 
      }
    }
    .button {
      text-align: right;
      }
  }
}

@layer thumbnail {
  .thumbnail{
    border: 4px solid hsl(var(--hue-1), 20%, 20%);
    overflow: hidden;
    border-radius: 13px;
    display: flex;
    box-sizing: border-box;
    background-color: hsl(var(--hue-1), 20%, 20%);
    flex-direction: column-reverse;
  }

  .thumbnail-name{
   font-size: 20px;
   color:hsl(var(--hue-1), 20%, 70%); 
  }

  .thumbnail-email {
    a{
    text-align: right;
    color: hsl(var(--hue-1), 20%, 70%); 
    font-size: 14px;
    font-style: italic;
    } 
  }

  .thumbnail-image{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  }

  .thumbnail-link{
    display: none;
  }

  @media (min-width: 392px) and (max-width: 767px) {

    .gallery .thumbnail .thumbnail-name {
      color: hsl(var(--hue-1), 20%, 70%);
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-weight: lighter;
      padding-top: 0.4rem;
      padding-left: 0.4rem; 
    }


    .gallery .thumbnail .thumbnail-email {
      text-align: right;
      font-style: italic;
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding-bottom: 0.4rem;
      padding-right: 0.5rem;
      font-weight: lighter;
      color: white;
    }
  }
  @media (min-width:768px) {

    .thumbnail-header {
      display: none;

    }
    .thumbnail-name{
     display: none;

    }
    .thumbnail-email{
      display: none;

    }
    .thumbnail-link{
      display: none;

    }
    .thumbnail-image{
    display: block;
    border-radius: 8px;
    }
    .thumbnail:hover{
      display: inline;
      transform: scale(1.1);

      .thumbnail-header{
        display: inline;
        position: absolute;
        top: 80%;
        left: 2%;
        z-index: 1;

      }
      .thumbnail-name{
        display: block;

       }
       .thumbnail-email{
         display: flex;
         position: relative;

         left: 13rem;
       }
    }
  }
}

@layer accordion {
  .accordion {
    
    .block{
      color: black;
      background-color: hsl(var(--hue-1), 70%, 80%);
      border: solid 1px;
      border-radius: 1rem;
      border-color: hsl(var(--hue-1), 60%, 60%);
      margin: 1rem 0rem;
    }
    .block[open]{
      border: solid 3px;
      border-radius: 1rem;
      border-color: hsl(var(--hue-1), 60%, 40%);

      color: var(--white);
      background-color: hsl(var(--hue-1), 60%, 40%);
    }
    .content{
      padding: 2rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      line-height: 1.5;
      font-size: 1.8rem;
      text-align: center;
      background-color: hsl(210, 100%, 96%);
      color: black;

      .text{
        padding-left: 1rem;
        text-align: left;
      }
    }
    .heading{
      padding: 2rem;
      font-size: 2rem;
    }
  }
}

@layer detailed-list {
  .detailed-list {  
    padding: 1rem;
    border-color: hsl(var(--hue-1), 70%, 30%);

   container-type: inline-size;
   container-name: detailed-list;


   
   .dl{
    display: grid;
    font-size: 1.6rem;
    text-align: left;
    .dt{
      color: hsl(var(--hue-1), 70%, 30%);
      font-weight:900;
      padding: 0rem 1rem 0rem 1rem;
      margin-top: 1rem;
      border-left: solid black 1px;
     }
     .dd{
      padding: 0rem 1rem 1rem 1rem;
      border-left: solid black 1px;
     }

    @container detailed-list (width > 60ch){
      grid-template-columns: 5fr 7fr;

      font-size: 1.7rem;
      .dt{
        border: 0px;
        padding-right: 2rem;
        text-align:right;
        font-weight: bold;
      }
      .dd{
        margin-top: 1rem;
      }
    }
   }
  }
}

@layer call-to-action {
  .cta {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: hsl(var(--hue-1), 60%, 40%);
    color: var(--white);
    padding: 2rem;
    border: 2px solid;
    border-radius: 1rem;
    background-color: hsl(var(--hue-1), 60%, 40%);

    margin: 2rem;
  }
}

@layer form {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    container-type: inline-size;
    container-name: bigger-screen;

    .heading {
      font-size: 450%;
      padding-bottom: 4rem;
    }
    .help {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .fieldset {
      display: block;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .group {
      display: block;
      margin-bottom: 4rem;
      margin-top: 1rem;
      font-size: 2rem;
    }
    .select,
    .input {
      background-color: white;
      border: solid hsl(var(--hue-1), 60%, 30%);
      border-width: 0.1rem;
      border-radius: 1rem;
      padding: 1rem;
      width: 100%;
      font-size: 120%;
      line-height: 1.5;
      margin-top: 1rem;
    }
    .legend {
      color:hsl(var(--hue-1), 60%, 30%);
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    .label {
      color:hsl(var(--hue-1), 60%, 30%);
      font-weight: bold;
      font-size: 2rem;
    }
    .buttons {
      text-align: right;
      .button {
        background-color:hsl(var(--hue-1), 60%, 40%);
        color: var(--white);
        align-items: center;
        padding: 1.5rem 2.5rem 1.5rem 2.5rem;
        border-radius: 1rem;
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 2.5rem;
      }
    }

    @container medium-screen (min-width: 744px){
      .fieldset{
        margin-left: 4rem;
        margin-right: 4rem;
      }
      .heading{
        margin-left: 4rem;
        font-size: 6.4rem;
      }
      .group{
        margin-bottom: 2.5rem;
        font-size: 1.6rem;
      }
      .label{
        font-size: 2rem;
      }
      .legend{
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .buttons{
        margin-right: 4rem;
        margin-left: 4rem;
        .button {
          background-color:hsl(var(--hue-1), 60%, 40%);
          color: var(--white);
          align-items: center;
          padding: 1.4rem 2.1rem 1.4rem 2.1rem;
          border-radius: 1rem;
          font-size: 2.2rem;
        }
      }
    } 
    
    @container bigger-screen (min-width: 1091px) {
      .fieldset{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 2rem; 
        margin-bottom: 4rem;
        margin-left: 8rem;
        margin-right: 8rem;
      }
      .select, .input{
        grid-column: span 2;
      }
      .group{
        margin: 0;
        font-size: 1.5rem;
      }
      .label{
        font-size: 2rem;
      }
      .legend{
        font-size: 3rem;
      }
      .buttons{
        margin-left: 8rem;
        margin-right: 8rem;
        .button {
          background-color:hsl(var(--hue-1), 60%, 40%);
          color: var(--white);
          align-items: center;
          padding: 1.3rem 2rem 1.3rem 2rem;
          border-radius: 1rem;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: 2rem;
          font-size: 2rem;
        }
      }

      .heading{
        font-size: 350%;
        margin-left: 2rem;
      }
    }
  }
}

@layer subgrid {
  .container {
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
    container-type: inline-size;
    container-name: medium-screen;
  }

  .subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "d d";
    gap: 1rem;
  }
  .box.a{
    grid-area: a;
  }
  .box.b{
    grid-area: b;
  }
  .box.c{
    grid-area: c;
  }
  .box.d {
    grid-area: d;
    grid-template-areas: 
    "e f"
    "g h";
  }
  .box.e{
    grid-area: e;
  }
  .box.f{
    grid-area: f;
  }
  .box.g{
    grid-area: g;
  }
  .box.h{
    grid-area: h;
  }
    .box {
      background-color:hsl(var(--hue-1), 60%, 20%);
      color: var(--white);
      padding: 1.5rem 0rem 7rem 1rem;
      border-radius: 1rem;
      display: flex;
    }

    .d {
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      gap: 1rem;
      background-color:hsl(var(--hue-1), 60%, 20%);
      padding: 1rem;
      border-radius: 1rem;

      height: calc(8.5rem * 2 + 4rem);
    }
    .box.e,
    .box.f,
    .box.g,
    .box.h {
      background-color:hsl(var(--hue-1), 50%, 80%);
      color: var(--black);
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      font-size: 1.4rem;
    }


    @container medium-screen (min-width:744px) {
      .h2{
        margin-left: 3rem;
      }
      .subgrid{
        padding-left: 3rem;
        padding-right: 3rem;
      }
      .subgrid{
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "a a a a b b b b"
        "c c c c c c c c" 
        "d d d d d d d d";
      }
      .box.d{
        grid-area: d;
        height: 10.5rem;
        grid-template-areas: 
        "e e f g h h h h";
      }

    }
    @container bigger-screen (min-width: 996px){
      .h2{
        margin-left: 7rem;
      }
      .subgrid{
        padding-left: 7rem;
        padding-right: 7rem;
      }
      .subgrid{
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "a a a a a a a a b b b b"
        "c c c c c d d d d d d d" 
        "c c c c c d d d d d d d";
      }

      .box.d{
        grid-area: d;
        grid-template-columns: repeat(12,1fr);
        grid-template-areas: 
        "e e e e e f f f f f f f"
        "e e e e e g g g g h h h";
      }
    }
}