@layer card, form, thumbnail, accordion, detailed-list, call-to-action, subgrid;


@layer card { 
  .card { 
    display: grid; 
    grid-template-rows: auto 1fr auto;
    border-radius: var(--_u-3);

    .header {
      background-color: inherit;
      position: relative;
      padding: 3rem 1.5rem;
      font-size: 150%;
      padding-bottom: 1.5rem;

      .p {
        font-size: 60%;
      }

      .figure {
        background-color: inherit;
        position: absolute;
        right: 14%;
        bottom: 0;
        translate: 50% 50%;
        padding: 0.75rem;
        border-radius: 100vw; 
        border: 0.2rem;
        border-color: solid white; 
      }
    }

    .content {
      padding-top: 3rem;
      padding-bottom: 0.75rem;
    
      .p {
        padding-bottom: 1rem;
        padding-inline-start: 1.5rem;
        padding-inline-end: 3.5rem;
        line-height: 1.5; 
      }
    }
    .button {
      text-align: right;
      }
  }
}

@layer thumbnail {
  .thumbnail {
    
  }  
}

@layer accordion {
  .accordion {
    .block{
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: hsl(208, 80%, 30%)
    }
    .content{
      background-color: white;
      padding: 2rem;
      margin-inline: 2px;
    }
    .heading{
      padding: 2rem;
      font-size: 2rem;
      color: white;
    }
  }
}

@layer detailed-list {
  .detailed-list {  
    padding: 1rem;
    border-color: rgb(9, 53, 92);

   container-type: inline-size;
   container-name: detailed-list;

   .dl{
    display: grid;

    @container detailed-list (width > 60ch){
      grid-template-columns: repeat(2, 1fr);
    }
   }
   .dt{
    color: hsl(var(--hue-1), 70%, 30%);
    font-weight:700;
   }
  }
}

@layer call-to-action {
  .cta {

  }
}

@layer form {
  .form {
    
  }
}

@layer subgrid {
  .subgrid {
  
  }
}